.headergreen{
	background-color: #16a085;
	position: inline;
	margin: 20px auto;
	height:300px;
	width:600px;
	margin:auto;
}
.headerdarkgreen{
	background-color: #1abc9c;
	position: inline;
	margin: auto;
	height:10px;
	width:600px;border-style: 
}
body{
	background-color: #7f8C8D;
}
.headlorem{
	font-size: 26px;
	font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
	
	font-weight: normal;
        font-size: 1.75em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;
	text-transform: uppercase;
		padding-top: 230px;
		color: floralwhite;
}
.headblue{
	background-color: #34495e;
	position: inline;
	margin: auto;
	height:50px;
	width:600px;
}
.headdarkblue{
	background-color: #2c3e50;
	position: inline;
	margin: auto;
	height:10px;
	width:600px; 

}
.buttons{
	margin-top:0px;
	text-align: right;
padding-top: 20px;
color: floralwhite;
    padding-right: 10px;
}
.headwhite{
background-color: #ecf0f1;
	position: relative;
	margin: auto;
	width:600px;
}
.outbox{
	background-color: #ecf0f1;
	position: absolute;
	right:-200px;
	margin: auto;
	height:260px;
	width:190px;
	text-align: right;
	background-color:;
	border:  2px solid #ecf0f1;
	border-radius: 30px;
}
.effect7:after{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);

}
.list{
	list-style: none;
	font-family: fantasy;
	color:#2c3e50;
}
.lists{
	color: black;
	font-size: 15px;
	text-align: left;
	padding-left:5px;
}
.list2{
	margin: 0px;
	list-style: none;
padding-top: 15px;
padding-left: 10px;
}

p{font-size: 12px;
    color: darkslateblue;
    font-family: cursive;
    padding: 30px;
    padding-top: 5px;
}
.hrstyle {
    border: 0;
    height: 4px;
    background:
	repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 25%,
		tomato 0,
		tomato 50%
	),
	repeating-linear-gradient(
		45deg,
		transparent,
		transparent 25%,
		dodgerblue 0,
		dodgerblue 50%
	), wheat;

background-size: 10em 10em;
background-blend-mode: multiply;
}

table{
	width:400;
height:200px;
padding:0px;
margin-left: 20px;
border-width: 1px;
border-style: 1px aquamarine solid;
margin-right:20px;
text-align: center

}
td{
	border: 2px solid aquamarine;
    padding: 8px;
    font-variant: small-caps;
    font-kerning: inherit;
    font-family: monospace;
    font-size: 25px;
}
td:nth-child(1){
	width:10%;
}
td:nth-child(2){
	width:60%;
}
td:nth-child(3){
	width:30%;
}
tr:nth-child(1){
	width:15%;
	background-color: coral;
}
tr:nth-child(2){
	width:10%;
}
tr:nth-child(3){
	width:20%;
}
tr:nth-child(4){
	width:20%;
}
.buttonclass{
	background-color: dodgerblue;
	border: 5px dashed sienna;
	margin:10px;
	border-radius: 3px
}
.boxcode{
	height: 60px;
	font-family: sans-serif;
	font-size: 20px;
	padding:10px;
	padding-top: 30px;
	text-align: center;
}